.background {
    /*-fx-background-color: bisque;*/
    /*-fx-background-color: rgb(255,218,124);*/
    /*-fx-background-color: linear-gradient(174deg, rgba(255,218,124,1) 0%, rgba(255,243,213,1) 49%, rgba(255,225,132,1) 100%);*/
    -fx-background-color: linear-gradient(to right, rgba(255, 218, 124, 1), rgba(255, 243, 213, 1), rgba(255, 225, 132, 1));
}

.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Open Sans";
}

.tab-content-area {
    -fx-border-color: rgba(99, 122, 191, 1);
    -fx-border-width: 1px;
}


.tab {
    -fx-background-color: aliceblue;
    -fx-border-color: rgba(99, 122, 191, 1);
    -fx-border-width: 1px;
}

.tab:hover {
    -fx-background-color: #fbfff0;
}

.tab:selected {
    -fx-background-color: #c2efff;
}

.table-view .column-header {
    -fx-background-color: aliceblue;
    -fx-border-color: rgba(99, 122, 191, 1);
    -fx-border-width: 1px;
}

.table-view .column-header-background {
    -fx-background-color: aliceblue;

}

.table-view .filler {
    -fx-background-color: transparent;
    -fx-border-color: rgba(99, 122, 191, 1);
    -fx-border-width: 1px;
    /*    -fx-border-color: rgba(99,122,191,1);
        -fx-border-width: 1px;*/
}


.tab-pane .tab-header-background {
    -fx-background-color: rgba(132, 162, 255, 0);
    /*-fx-background-color: #efd583;*/

}

.label {
    -fx-text-fill: #1d1d1d;
}

.label.fett {
    -fx-font-weight: bold;
    -fx-text-fill: #1d1d1d;
}

.label.header {
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
    -fx-text-fill: #1d1d1d;
}

.label#meldung {
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
    -fx-font-style: italic;
    /*-fx-text-fill: orangered;*/
    -fx-text-fill: #425180;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #e2e2e2;
    -fx-background-color: transparent, derive(#e2e2e2, 20%);
}

.split-pane:vertikal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #e2e2e2;
    -fx-background-color: transparent, derive(#e2e2e2, 20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.text-field.fett {
    -fx-font-weight: bold;
}


/* Kleiner rechteckiger Button nur mit Icon */
.button#icon {
    -fx-padding: 0px;
    -fx-background-image: url('../icons/search.png');
    -fx-background-size: 85%;
    -fx-background-position: center;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}

.button {
    -fx-border-color: rgba(99, 122, 191, 1);
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: aliceblue;
    /*    -fx-background-color: #e1e8ff;*/
    -fx-font-weight: bold;
    -fx-text-fill: #1d1d1d;

}


.button:hover {
    -fx-background-color: #fbfff0;

}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #c2efff;
    -fx-text-fill: #1d1d1d;

}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}


.pane {
    /*-fx-background-color: aliceblue;*/
    -fx-border-color: rgba(99, 122, 191, 1);
    -fx-border-width: 1px;
}

/* menu styles */

.nav {
    -fx-font-weight: bold;
    -fx-font-size: 13pt;
    -fx-text-fill: #ffffff;
    -fx-background-color: aliceblue;
    border-color: #425180
}
